<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ESP Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Gestion des ESP</h1>
    <br>
    <div id="esp-list">
        {% for esp_id, info in devices.items() %}
        <div class="esp-block">
            <span class="esp-id"><strong>{{ esp_id }}</strong></span>
            <span class="separator">|</span>

            <label>Nom :</label>
            <input type="text" id="name-{{ esp_id }}" value="{{ info.name_room }}">
            <span class="separator">|</span>

            <label>Batterie :</label>
     	      	{% set percent = (100 * info.battery / estimated_duration) %}
		{% if info.needs_replacement %}
    		<span style="color: red; font-weight: bold;">Need to replace battery</span>
		{% else %}
    		<span>{{ (100 - percent)|int }}%</span>	
		<div class="battery-bar">
        		<div class="battery-fill"
             		style="width: {{ [0, 100 - percent]|max|round(0) }}%;
                    	background-color: {{ '#4CAF50' if percent <= 90 else '#FFC107' if percent <= 95 else '#F44336' }};">
       			 </div>
    		</div>
	    	{% endif %}
            <span class="separator">|</span>

            <label>Dernière mise à jour :</label>
            <span>{{ info.last_update }}</span>
            <span class="separator">|</span>

            <label>Écran :</label>
            <select id="screen-{{ esp_id }}">
                <option value="calendar" {% if info.screen == "calendar" %}selected{% endif %}>calendar</option>
                <option value="whiteboard" {% if info.screen == "whiteboard" %}selected{% endif %}>whiteboard</option>
                <option value="update" {% if info.screen == "update" %}selected{% endif %}>update</option>
                <option value="on air" {% if info.screen == "on air" %}selected{% endif %}>on air</option>
            </select>
            <span class="separator">|</span>

            <button onclick="saveESP('{{ esp_id }}')">Enregistrer</button>
        </div>
        {% endfor %}
    </div>
    <script src="/static/script.js"></script>
    <br>
    <a href="/calendar">Selection des calendrier</a>
    <br>
    <a href="/qr_code">Générateur de QR code (en cpp)</a>
</body>
</html>
